#quadrato {
  position: absolute; /*decido la posizione dell'oggetto e le sue dimensioni*/
  width: 30px;
  height: 30px;
  background-color: #2c98f0;
}

#quadrato.left { /*se metto .left devo mettere la class nel file html*/
  transition: 1s all;
  top: 30vh; /*vh è view port*/
  left: 30vw;
}

#quadrato.right {
  transition: 1s all;
  top: 30vh;
  left: 60vw;
}

#quadrato.bottom-right {
  transition: 1s all;
  top: 60vh;
  left: 60vw;
}

#quadrato.bottom-left {
  transition: 1s all;
  top: 60vh;
  left: 30vw;
}
